/* universal selector*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* giving body color and setting font for entire page.  */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: darkgray;
  font-family: "Crimson Text", serif;
}

h1 {
  margin: 0;
  padding: 20px;
}

/* creating header and nav bar */
header {
  /* makes flex-container..defaulted to row */
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 118, 211);
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
}

/* setting nav bar font color and text size */
nav a {
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: white;
}

.secondhead {
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1618299723086-dca317f56e04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-position: fill;
  height: 200px;
  /* justify-content: left; */
  font-size: 50px;
}
.secondhead img {
  width: 200px;
  height: 200px;
}

/* defining all sections as flex boxes */
.about,
.work,
.contact,
.resume {
  display: flex;
  width: 90%;
  margin: 6% auto;
  background-color: white;
  border-radius: 10px;
}

.about-details,
.work-imgs,
.contact-list,
.resume-details {
  border-left: solid black 3px;
}

.title {
  display: flex;
  align-items: center;
}

.about-details {
  margin-left: 7%;
  flex: 0 0 70%;
  padding: 10px;
}

/* getting this to line up with about me */
.work-imgs {
  display: flex;
  margin-left: 10%;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 300px;
  height: 300px;
  padding: 35px;
}

.contact-list {
  display: flex;
  /* margin-left: 10%; */
  flex: 0 0 100%;
  align-items: center;
  text-decoration: underline;
}

li {
  display: inline;
  padding: 40px;
  margin-left: 40px;
  font-size: 20px;
}

.resume {
  display: flex;
  align-items: center;
}

.resume-details {
  font-size: 30px;
  justify-content: center;
  margin-left: 40%;
}

footer {
  text-align: center;
}

/* when width gets belwo 768px header and main switch to column */
@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }
}
