* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  background-color: burlywood;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
}

h1 {
  padding: 20px;
}

.about, .work, .contact, .resume {
  display: flex;
  width: 90%;
  margin: 6% auto;
  
}

.title {
  display: flex;
  align-items: center;

}

.about-details{
  margin-left: 3%
  flex: 0 0 60%;
  border-left: black solid 3px;
}

footer {
  text-align: center;
}

@media screen and (max-width: ###) {
}

@media screen and (max-width: ###) {
}
