* {
  margin: 0;
  padding: 0;
}

/* li {
  display: inline;
  padding: 20px;
} */

header {
  background-color: burlywood;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}

.mainsec {
  display: flex;
  height: 100px;
  background-color: cadetblue;
  text-decoration: underline;
  justify-content: flex-end;
  align-items: flex-end;
}

/* main {
  display: flex;
} */

/* trying to give h1 more space from border  */

h1 {
  padding: 20px;
}

h2 {
  margin-right: 100px;
  border-right: black solid 3px;
}

.about {
  display: flex;
  height: 200px;
  width: 75%;
  background-color: coral;
}

.work {
  display: flex;
  height: 200px;
  width: 75%;
  background-color: cornflowerblue;
  /* justify-content: space-around; */
}

.contact {
  display: flex;
  height: 200px;
  width: 75%;
  background-color: darkgoldenrod;
  /* justify-content: center;
  align-items: center; */
}

.resume {
  display: flex;
  height: 200px;
  width: 75%;
  background-color: darkseagreen;
}

footer {
  text-align: center;
}

@media screen and (max-width: ###) {
}

@media screen and (max-width: ###) {
}
